/node_modules
/v8-compile-cache-0
public/storage
public/hot
storage/*.key
vendor/
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.*.php
.env.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

storage/sphinx
storage/logs
public/sitemap.xml
public/css/
public/js/
